body {
    margin: 0;
    color: #333;
    font-family: system-ui;
    display: grid;
    place-content: center;
}

.Navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.Navbar h1 {
    color: #37aaca;
}

.Navbar .links {
    margin-left: auto;
}

.Navbar a {
    text-decoration: none;
    padding: 6px;
}

.Navbar a:hover {
    color: #37aaca;
}

.content {
    max-width: 600px;
    min-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.PostDetails h2 {
    font-size: 20px;
    color: #37aaca;
    margin-bottom: 10px;
}

.PostDetails div {
    margin: 20px 0;
}

.PostList a {
    text-decoration: none;
}